<div class="row">
    <div class="col-md-10">
        <h4>Filter By:
        <select class="btn btn-success btn-lg" ng-model="sortPosts">
          <option value="postTitle">Title</option>
          <option value="-tickets">Tickets</option>
        </select>
        <h4>Search by Publisher: <input ng-model="searchPost.user"/></h4>
    </div>

    <div class="totaltickets col-md-2">
      <h3 class="dateToday"> Tickets as of {{
        dateToday}} </h3>
      <h1 class="ticketLength">{{tickets.length}}</h1>
    </div>
</div> <!--this closes totaltickets-->

<div class="row">
      <div class="post col-md-6" ng-repeat="post in posts| filter:searchPost:strict | orderBy:sortPosts">
        <div class="postBox">
              <h2 class="linkto"><a href="#/posts/{{post.id}}">{{post.title}}</a></h2><br>
              <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">View Description</button>
              <hr>
              <div collapse="isCollapsed">
                <div class="well well-lg">{{post.description}}</div> 
              </div>
              <h3 class="{{post.user.department_code}}">by: {{post.user.name}}</h3>

        </div> <!--postBox-->
      </div>
</div> <!--this closes the class row for posts-->


