<div class="row">
    <div class="filterPosts col-md-10">
      Some filter stuff here
    </div>

    <div class="totaltickets col-md-2">
      <h1>{{tickets.length}}</h1>
    </div>
</div> <!--this closes totaltickets-->

<div class="row">
    <div ng-repeat="post in posts">
      <div class="post col-md-6">
        <div class="postBox">
          <div class="postTicket"><h3>{{post.tickets.length}}</h3></div>
          <h2><a href="#/posts/{{post.id}}">{{post.title}}</a></h2>
          <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">View Description</button>
          <hr>
          <div collapse="isCollapsed">
            <div class="well well-lg">{{post.description}}</div> 
          </div>
          <h3> {{post.user.name}}</h3>
          <div class=""></div>
        </div>
      </div>
    </div>
</div> <!--this closes the class row for posts-->


