<div ng-repeat= "single_post in post">
  <h2>{{single_post.title}}</h2>
  <tabset>
    <tab heading="Description" editable-text="single_post.description" e-form="textBtnForm">{{single_post.description}} <button class="btn btn-default" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible">
    edit
  </button></tab>
    <tab heading="Graphs">{{single_post.graphs}}</tab>
    <tab heading="Tickets" active="tab.active" disabled="tab.disabled" >
      <table class="table table-striped">
        <tr>
          <th>Ticket Number</th>
          <th>Name</th>
          <th>Content</th>
        </tr>
        <tr ng-repeat="ticket in single_post.tickets">
          <td> {{ticket.id}}</td>
          <td> {{ticket.user}}</td>
          <td> {{ticket.content}}</td>
        </tr>
      </table>
    </tab>
  </tabset>
</div>