<div ng-repeat= "single_post in post">
  <span ng-hide="editing"><h2>{{single_post.title}}</h2></span>
  <tabset>
    <tab heading="Description">

      <div ng-hide="editing"class="postDescription">
        {{single_post.description}}
      </div>


      <div class="postDescription">
        <form ng-show="editing" ng-submit="editing = false; updatePost(single_post)">

          <div class="form-group">
            <label >Title</label>
            <input type="text" class="form-control" ng-model="single_post.title"required>
          </div>

          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" rows="10" ng-model="single_post.description"></textarea>
          </div>

          <button class="btn btn-primary" type="submit">Save</button>
        </form>

      </div>

      <span ng-show="checkOwner(single_post)"><button class="btn btn-default" ng-hide="editing" ng-click="editing = true">Edit</button></span>

    </tab>

          <tab heading="Graphs">
          <h1> {{graph.name}} </h1>
          <div ac-chart="chartType" ac-data="data" ac-config="config1" class='chart'></div>

          <span ng-show="checkOwner(single_post)"><a href="#/graphs/{{graph.id}}/edit" class="btn btn-default" ng-hide="editing" ng-click="editing = true">Edit</a></span>
              
          </tab>

    <tab heading="Tickets" active="tab.active" disabled="tab.disabled" >
      <table class="table table-striped">
        <tr>
          <th>Ticket Number</th>
          <th>Name</th>
          <th>Content</th>
        </tr>
        <tr ng-repeat="ticket in single_post.tickets">
          <td> {{ticket.id}}</td>
          <td> {{ticket.user}}</td>
          <td> {{ticket.content}}</td>
        </tr>
      </table>
    </tab>
  </tabset>
</div>