.chart {
      width: 300px;
      height:300px;
    }
.graphForm{
  float: right;
}

body{
  background-color: #ebe7e0;
}

.userClass{
  padding: 20px;
  background-color: #6ca0bb;
  border-radius: 3px;
}

.linkto a{
  text-decoration: none;
  color: black;
}

.linkto a:hover{
  text-decoration: none;
}
a {
  cursor: pointer;
}
.container {
  margin-top: 80px;
}
.post{
  padding: 10px;
}
.postDescription{
  margin-top: 20px;
}

.prodMan{
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(229, 116, 46, 0.8);
}

.custRep {
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(35, 80, 33, 0.8);
  color:white;
}

.postBox{
  background-color: #e0cfad;
  border-radius: 5px;
  padding: 10px;
}
.newPost{
  border: 2px solid black;
  float: right;
}

.filterPosts {
  border: 2px solid black;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.428571429;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
}

.ticketCount{
  background: #fff;
  float: right;
  padding: 5px;
  border-radius: 3px;
}